<footer id="footer" class="footer5">
            
            <div id="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 widget">
                            <h4>Information</h4>
                            <ul class="links">
                                <li><a href="#" title="New Products">New Products</a></li>
                                <li><a href="#" title="Top Sellers">Top Sellers</a></li>
                                <li><a href="#" title="Specials">Specials</a></li>
                                <li><a href="#" title="Manufacturers">Manufacturers</a></li>
                                <li><a href="#" title="Suppliers">Suppliers</a></li>
                                <li><a href="#" title="Our stores">Our stores</a></li>
                            </ul>
                        </div><!-- End .col-md-3 -->

                        <div class="col-sm-6 col-md-3 widget">
                            <h4>My Account</h4>
                            <ul class="links">
                                <li><a href="#" title="My account">My account</a></li>
                                <li><a href="#" title="Personal information">Personal information</a></li>
                                <li><a href="#" title="Addresses">Addresses</a></li>
                                <li><a href="#" title="Discount">Discount</a></li>
                                <li><a href="#" title="Orders history">Orders history</a></li>
                                <li><a href="#" title="Your vouchers">Your vouchers</a></li>
                            </ul>
                        </div><!-- End .col-md-3 -->

                        <div class="sm-margin clearfix visible-sm"></div><!-- space -->

                        <div class="col-sm-6 col-md-2 widget">
                            <h4>Customer Service</h4>
                            <ul class="links">
                                <li><a href="#" title="Help &amp; Contact">Help &amp; contact</a></li>
                                <li><a href="#" title="Shipping &amp; taxes">Shipping &amp; taxes</a></li>
                                <li><a href="#" title="Return policy">Return policy</a></li>
                                <li><a href="#" title="Careers">Careers</a></li>
                                <li><a href="#" title="Affiliates">Affiliates</a></li>
                                <li><a href="#" title="Legal Notice">Legal Notice</a></li>
                            </ul>
                        </div><!-- End .col-sm-3 -->

                        <div class="col-md-4 widget padding-right-lg">
                            <h4>Quick Contact</h4>
                            
                            <form action="#" id="quick-contact">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" required placeholder="ENTER YOUR NAME *">
                                </div><!-- end .form-group -->
                                <div class="form-group">
                                    <input type="email" class="form-control input-lg" required placeholder="ENTER YOUR E-MAIL *">
                                </div><!-- end .form-group -->
                                <div class="form-group clear-margin">
                                    <textarea class="form-control input-lg min-height-sm clear-margin" cols="30" rows="4" placeholder="ENTER YOUR MESSAGE *"></textarea>
                                </div><!-- end .form-group -->
                                <div class="xs-margin half"></div><!--space -->
                                <div class="form-group">
                                    <input type="submit" class="btn btn-custom-9 min-width-md" value="Send Message">
                                </div><!-- end .form-group -->
                                <div class="xs-margin visible-md visible-lg"></div>
                            </form>
                        </div><!-- End .col-sm-4 -->

                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End #footer-inner -->
        
        	<div id="footer-bottom-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="footer-bottom" class="clearfix">
                                <p class="copyright-text">&copy; 2016 ArtAnzels&trade;. All Rights Reserved.</p>

                                <ul class="social-links clearfix">
                                	<li><a href="http://appsclay.com"><img src="<%=asset_path 'appsclay.png'%>" style="width:90px;margin-top:-54%;"></a></li>
                                	<li><a><img src="<%=asset_path 'craftvault.png'%>" style="width:90px;margin-top:-54%;"></a></li>
                                    <li><a href="#" class="social-icon icon-facebook" title="Facebook"></a></li>
                                    <li><a href="#" class="social-icon icon-twitter" title="Twitter"></a></li>
                                    <li><a href="#" class="social-icon icon-linkedin" title="Linkedin"></a></li>
                                    
                                </ul>
                            </div><!-- End .col-md-12 #footer-bottom -->
                            
                        </div><!-- End .col-xs-12 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->   
            </div><!-- End #footer-bottom-container -->
        	
        </footer><!-- End #footer -->