/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require spree/backend

 *= require_self
 *= require bootstrap-material-design
 *= require_tree .
*/

.btn-success{background-color: #e61446 !important;border-color:#e61446 !important;transition:all 0.4s linear !important; }

.btn-success:hover{color:#726c61 !important;background-color: #fbfaf4 !important;}
.navbar .row {background-color: #59b0c4;border-color: #59b0c4;-webkit-box-shadow: 0px 0px 8px 2px #7f7b73;
       -moz-box-shadow: 0px 0px 8px 2px #7f7b73;
            box-shadow: 0px 0px 8px 2px #7f7b73;}
#main-sidebar .icon{color: #e61446 !important;}
.icon-chevron-right{color: #e61446 !important;}
select {border-color: #e61446 !important;}